# Ignore Python virtual environment
prosperity_env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
tempcoderunnerfile*


# Ignore backtest results and algorithms
backtests/
results/
post-results/
algorithms/
plots/
data/round-2